<div>
    {{posts?.title}}
    <h2>Create</h2>
    <div *ngFor="let item of posts; index as i">
        <ul>
            <li>{{item.body}}</li>
        </ul>
    </div>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start (ngSubmit)="
              fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="addTodo()">

            <div class="h2 mb-24">Reactive Form Example</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" type="number">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>Id is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>UserId</mat-label>
                    <input matInput formControlName="userId" required>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>User Id is required!</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" required>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>Title is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Body</mat-label>
                    <input matInput formControlName="body" required>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>Body is required!</mat-error>
                </mat-form-field>

            </div>
<!--            <button  mat-icon-button type="submit">Submit</button>-->
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="accent" (click)="updatePost()">Edit</button>
<!--            <button (click)="updatePost()">Edit</button>-->
        </form>



        <!-- / REACTIVE FORM EXAMPLE -->

        <div class="mat-card form-errors-model p-24 mat-elevation-z4">
            <div class="h2 mb-24">Reactive Form Model</div>
            <pre><code>{{form.getRawValue() | json}}</code></pre>
        </div>
    </div>

    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start (ngSubmit)="
              fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="deletePost(form.controls.id.value)">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" type="number">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>Id is required!</mat-error>
                </mat-form-field>

            </div>
<!--            <button type="submit">Delete</button>-->
            <button mat-raised-button color="warn" type="submit">Delete</button>


        </form>
    </div>

    <button (click)="updatePost()">Update</button>
    <button (click)="deletePost(2)">Delete</button>
</div>