<label>{{placeHolder}}</label>
<input [placeholder]="placeHolder" [type]="inputType" [formControl]="control" class="form-control"
       [ngClass]="{'is-invalid': showError()}">
<div *ngIf="showError()" class="invalid-feedback">
    <p *ngIf="control.errors.required">{{placeHolder}} is required</p>
    <p *ngIf="control.errors.minlength">You have entered {{control.errors.minlength.actualLength}} characters but it
        requires {{control.errors.minlength.requiredLength}} characters</p>
    <p *ngIf="control.errors.maxlength">You have entered {{control.errors.maxlength.actualLength}} characters but it
        requires {{control.errors.maxlength.requiredLength}} characters</p>
    <p *ngIf="control.errors.email">This is not a valid email</p>
</div>