// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.mat-snackbar-container {
    margin-right: 0!important;
}

.green-snackbar {
    color: white!important;
    background: green!important;
}

.red-snackbar {
    color: white!important;
    background: red!important;
}